.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .title {
    flex: 0 1 100%;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    border-radius: 5px;
  }

  .project {
    flex: 0 1 24%;

    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .image {
        flex: 0 1 100%;
        background-color: azure;
        margin-top: 2px;

        .name {
          flex: 0 1 100%;
          font-weight: bold;
        }

        .boxes {
          display: flex;
          align-content: flex-start;

          .box {
            width: 20px;
            height: 20px;
            text-align: center;
            margin-left: 1px;
          }

          .box-success {
            @extend .box;
            color: white;
            background-color: green;
          }

          .box-failure {
            @extend .box;
            color: white;
            background-color: red;
          }

          .box-building {
            @extend .box;
            color: white;
            background-color: orange;
          }
        }
      }
    }
  }
}

